body{
	background-image: url("5.jpg");
	background-size: 25% 25%;
}

.gambar1{
	text-align: center;
	margin-top: 50px;
	float: left;
	width: 50%;
	background-color: red;
	height: 450px;
}

#gambar2{
	text-align: center;
	margin-top: 50px;
	float: left;
	width: 50%;
	background-color: white;
	height: 450px;
}